# Database Connection (MySQL / PostgreSQL / SQLite)
DATABASE_URL="mysql://username:password@hostname:20680/tuvaa?sslaccept=strict"

# Application Config
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_nextauth_secret_key_min_32_chars"

# Cloudinary Storage Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Admin Initial Credentials
ADMIN_EMAIL="superadmin@tuvaa.org.uk"
ADMIN_PASSWORD="your_admin_secure_password"
